/python_project/tf_idf/generated_documents/tf_idf_vector_training.json
/python_project/utils/generated_documents/vocabulary.json
/python_project/tf_idf/generated_documents/tf_idf_vector.json
/python_project/tf_idf/generated_documents/dic_tf_idf.json
